<div class="container px-5 px-sm-0">

  <div class="row">



<%= render 'user_info', book:@book %>



      <div class="col-md-8 offset-md-1">

  		  <h2>Book detail</h2>

  		  <table class="table">

  		    <tbody>

              <td>

                <%= link_to user_path(current_user.id) do %>

                  <% if @user.profile_image.attached? %>
                    <%= image_tag @user.profile_image, size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                  <br>
                  <%= current_user.name %>

                <% end %>

              </td>

              <td>

                <%= link_to book_path(current_user.id) do %>

                  <%= @book.title %>

                <% end %>

              </td>

              <td>

                <%= @book.body %>

              </td>

  		    </tbody>

  		  </table>

  		</div>



  </div>

</div>



